/* These are new selectors and styles created for unique uses on the site not covered by Bootstrap defaults. */

/* ------------------ Project banner, tagline and tab ------------------------- */
@media (min-width: 980px) {
	.banner {
		margin-top:	-65px;
	}
}

@media (min-width: 768px), (max-width: 979px) {
	.banner {
		margin-top: -65px;
	}
}

@media (max-width: 979px) {
	.banner {
		margin-top: -30px;
	}
}

.banner {
	position: relative;
}

.banner > a > img {
	min-height: 35px;
}

.taglinelight, .taglinedark {
	font-size: 23px;
	letter-spacing: -1px;
	position: absolute;
	right: 40px;
	bottom: 19px;
	z-index: 100;
}

.taglinelight {
	color: #FFFFFF;
}

.taglinedark {
	color: $grayDark;
}

.tab {
	position: absolute;
	top: 0;
	right: 70px;
	z-index: 1000;
}

/* ------------------ Company logo ------------------------- */
.company {
	width: 76px;
	margin: 10px auto;
}
