%footer.footer
	%p Led by
	#footerlogo<
		%a(title="Red Hat, Inc." href="http://www.redhat.com")
			%h6 Red Hat, Inc.
	:markdown
		[About](http://www.jboss.org/about.html) | [Contact Us](http://www.jboss.org/contact.html) | [Jobs](http://www.redhat.com/about/work) | [Help](http://www.jboss.org/help.html)
