/* These are new selectors and styles created for unique uses on the site not covered by Bootstrap defaults. */

/* ------------------ Community tab style ------------------------- */
@media (min-width: 980px) {
	.container {
		padding-top: 0;
	}
}

/* ------------------ Community and Project footer style ------------------------- */
.community-footer {
	margin: 6px auto;
	width: 240px;
	list-style: none;
	text-align:center;
	color: #7C7C7C;
	font-size: 9.5px;
	padding-bottom: 10px;

	img {
		float: left;
	}	

	a {
		color: #7C7C7C;
		margin: 0 2px;
	}

	ul {
		float: left;
		padding: 4px;
		margin: 0px 0px 0px 10px;
	}

	li {
		display: inline-block;
		*display: inline;
		/* IE 7 inline-block hack */
	}
}

.banner {
	position: relative;
}

.banner > a > img {
	min-height: 35px;
}

.tagline {
	color: #FFFFFF;
	font-size: 23px;
	letter-spacing: -1px;
	position: absolute;
	right: 40px;
	bottom: 19px;
	z-index: 100;
}

.tab {
	position: absolute;
	top: 0;
	right: 70px;
	z-index: 1000;
}

.company {
	width: 76px;
	margin: 6px auto;
}
