---
layout: base
style: community
title: Community driven open source middleware
---
/ Main hero unit for a primary marketing message or call to action
.hero-unit
	%p Simple, modern, productive.
	%h1 the JBoss Way
	%p<
		%a.btn.btn-primary.btn-large GET STARTED

/ Spotlights
.row
	.span4
		%p<
			%a(href="#")
				%img(src="https://www.jboss.org/dms/content/singular/3spot-1.png")
	.span4
		%p<
			%a(href="#")
				%img(src="https://www.jboss.org/dms/content/singular/3spot-2.png")
	.span4
		%p<
			%a(href="#")
				%img(src="https://www.jboss.org/dms/content/singular/3spot-3.png")

/ Example row of columns
.row
	.span4
		%h2 Latest Blogs
		%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		%p<
			%a.btn(href="#") More blogs &raquo;
	.span4
		%h2 Social Stream
		%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		%p<
			%a.btn(href="#") More tweets &raquo;
	.span4
		%h2 Events
		%p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		%p<
			%a.btn(href="#") More events &raquo;

%hr